<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.ac.binus.recruito">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".NavigationBarActivity"></activity>
        <activity android:name=".ThreadDetailActivity" />
        <activity android:name=".FilterActivity" />
        <activity android:name=".ChangeProfileActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".FrontCoverActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegistActivity" />
        <activity android:name=".SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddJobListActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".AddPersonalInformationActivity" />
    </application>

</manifest>